* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  gap: 40px;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 1000px;

  animation: fadeIn 1s ease;
}

.product-image img {
  width: 350px;
  animation: float 3s ease-in-out infinite;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.content p {
  margin-bottom: 20px;
  line-height: 1.6;
}

button {
  padding: 12px 25px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .product-image img {
    width: 250px;
  }

  .content h1 {
    font-size: 2rem;
  }
}
